/*Rep Your City Game*/

h1 {
    display: flex;
    justify-content: center;
    background: black;
    color: orange;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #006666;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
    /* background: url(https://i.imgur.com/ocaZjTY.jpg); */
}
#picSpot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#stuPic {
    height: 275px;
    width: 275px;
    background: black;
    background-position-x: 150vmin;
    background-position-y: 150vmin;
}
#stuName {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: orange;
    background: black;
}
h2 {
    display: flex;
    background: black;
    background-position-x: center;    
    color: orange;
    font-size: 16px;
}
.msg {
    display: flex;
    justify-content: center;
}
.msgTwo {
    display: flex;
    justify-content: center;
    text-align: center;
}
.resBut {
    height: 100px;
    width: 200px;
    font-size: 22px;
    border-radius: 40px;
    font-weight: bold;
    background: black;
    color: orange;
}

.circleOne {
    content: ' \25CF';
    font-size: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: black;
    color: white;
}
.circleTwo {
    content: ' \25CF';
    font-size: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: green;
    color: white;
}
.circleThree {
    content: ' \25CF';
    font-size: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: blue;
    color: white;
}
.circleFour {
    content: ' \25CF';
    font-size: 80px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: red;
    color: white;
}
#upper_left {
    position: absolute;
	top: 80px;
    left: 0;
    background: url("ggbridge-min.jpg");
    background-position: 50%, 50%;
    background-size: cover;
}
#upper_right {
    position: absolute;
	top: 80px;
    right: 0%;
    background: url("smpier-min.jpg");
    background-position: 50%, 50%;
    background-size: cover;
}
#lower_left {
    position: absolute;
	bottom: 0%;
    left: 0;
    background: url("dallas-min.jpg");
    background-position:50%;
    background-size: cover;
}
#lower_right {
    bottom: 0%;
	right: 0%;
    position: absolute;
    background: url("ausbbq-min.jpg");
    background-position: 50%, 50%;
    background-size: cover;
}
.demo {
    display: flex;
    justify-content: center;
}
.sf {
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    background: orange;
    color: black;
}
.sm {
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    background: orange;
    color: black;
}
.dal {
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    background: orange;
    color: black;
}
.atx {
    height: 100px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    background: orange;
    color: black;
}
#gameButtons {
    display: flex;
    justify-content: center;
}
.startGame {
    height: 100px;
    width: 200px;
    font-size: 22px;
    border-radius: 40px;
    font-weight: bold;
    background: black;
    color: orange;
}
.dealCard {
    height: 100px;
    width: 200px;
    font-size: 22px;
    border-radius: 40px;
    font-weight: bold;
    background: black;
    color: orange;
}
.timer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 28px;
}
.sfCount {
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 50px;
    font-weight: bold;
    background: black;
    color: orange;
}
.smCount {
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 50px;
    font-weight: bold;
    background: black;
    color: orange;
}
.dalCount {
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 50px;
    font-weight: bold;
    background: black;
    color: orange;
}
.atxCount {
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    right: 50px;
    font-weight: bold;
    background: black;
    color: orange;
}